<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="AHT_Ui::test_id" title="Blog">
                    <resource id="AHT_Ui::ui_id" title="Ui blog" sortOrder="99" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>